@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .aspect-square {
    aspect-ratio: 1 / 1;
  }
}